@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300;1,400;1,700&display=swap');
/* @import 'slick-carousel/slick/slick.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Tommy';
  src: url('../../public/MADE\ TOMMY\ Bold\ Outline_PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  b {
    @apply font-bold;
  }

  label,
  div,
  h1,
  h2,
  h3,
  h4 {
    @apply text-sm;
  }
  form {
    height: 100%;
  }
  li {
    list-style-type: none;
  }

  table {
    @apply w-full border border-collapse;
  }

  thead td {
    @apply border text-center py-2;
  }
  tbody td {
    @apply py-2;
  }
}
